<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<dict>
		<key>xGetForm</key>
		<dict>
			<key>requestMethod</key>
			<string>POST</string>
			<key>apiurl</key>
			<string>form/api/GetRows</string>
		</dict>
		<key>xSaveForm</key>
		<dict>
			<key>requestMethod</key>
			<string>POST</string>
			<key>apiurl</key>
			<string>form/api/SaveForm</string>
		</dict>
		<key>xOAuth</key>
		<dict>
			<key>requestMethod</key>
			<string>POST</string>
			<key>apiurl</key>
			<string>member/api/LoginFromOAuth</string>
		</dict>
		<key>xGetSetting</key>
		<dict>
			<key>apiurl</key>
			<string>setting/api/GetSetting</string>
		</dict>
		<key>xAlumbDetail</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>alumb/api/GetRowByID</string>
		</dict>
		<key>xAlumbList</key>
		<dict>
			<key>apiurl</key>
			<string>alumb/api/GetRows</string>
		</dict>
		<key>xEventDetail</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>event/api/GetRowByID</string>
		</dict>
		<key>xEventList</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>event/api/GetRows</string>
		</dict>
		<key>xEventCategoryList</key>
		<dict>
			<key>apiurl</key>
			<string>event/api/GetCategoryList</string>
		</dict>
		<key>xProductDetail</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>product/api/GetRowByID</string>
		</dict>
		<key>xProductList</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>product/api/GetRows</string>
		</dict>
		<key>xProductCategoryList</key>
		<dict>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>product/api/GetCategoryList</string>
		</dict>
		<key>xGetFormWeb</key>
		<dict>
			<key>description</key>
			<string>获取表单内容(WebView方式)


</string>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>form/api/GetFormWebByID</string>
		</dict>
		<key>xNewsDetail</key>
		<dict>
			<key>description</key>
			<string>首页新闻详情接口</string>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>news/api/GetRowByID</string>
		</dict>
		<key>xNewsList</key>
		<dict>
			<key>description</key>
			<string>首页新闻列表接口</string>
			<key>requestMethod</key>
			<string>GET</string>
			<key>apiurl</key>
			<string>news/api/GetRows</string>
		</dict>
	</dict>
	<key>Config</key>
	<dict>
		<key>description</key>
		<string>app配置</string>
		<key>appkey_release</key>
		<string>UmUAYwNlXzsBNQE3DmQKNwM2AWsFNFIyVToFMlhhA2pfPAEzXzhXZFJgUjBVNQU1</string>
		<key>apiserverurl_release</key>
		<string>http://mae.aim-app.com/</string>
		<key>appkey_debug</key>
		<string>VWJTMVJlBDJdZgFjAGQJYwY3VTYGNFMxD2JUZAQxUThTMAJjUzRRYgY0BmRXNgI3</string>
		<key>apiserverurl_debug</key>
		<string>http://dev.mae.aimapp.net</string>
	</dict>
	<key>Necessary</key>
	<dict>
		<key>Appkey</key>
		<dict>
			<key>description</key>
			<string>appkey,type为参数的位置0(http头) 1(表单或get参数，具体根据接口的请求类型)</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<string>Config_appkey</string>
		</dict>
		<key>description</key>
		<string>必填参数</string>
	</dict>
</dict>
</plist>
