<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category</key>
	<array>
		<dict>
			<key>CID</key>
			<string>1</string>
			<key>CName</key>
			<string>热销产品</string>
			<key>CDesc</key>
			<string>热销产品</string>
			<key>CImageP4</key>
			<string>h_pro_picture.png</string>
			<key>CImageP5</key>
			<string>h_pro_picture_5.png</string>
			<key>CFrameP4</key>
			<string>{{0,0},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{0,0},{150,133}}</string>
		</dict>
		<dict>
			<key>CID</key>
			<string>2</string>
			<key>CName</key>
			<string>辅销产品</string>
			<key>CDesc</key>
			<string>辅销产品</string>
			<key>CImageP4</key>
			<string>u_pro_picture.png</string>
			<key>CImageP5</key>
			<string>u_pro_picture_5.png</string>
			<key>CFrameP4</key>
			<string>{{150,0},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{150,0},{150,133}}</string>
		</dict>
		<dict>
			<key>CID</key>
			<string>3</string>
			<key>CName</key>
			<string>纽崔莱</string>
			<key>CDesc</key>
			<string>NUTRILITE 纽崔莱</string>
			<key>CImageP4</key>
			<string>083.Picture_3.png</string>
			<key>CImageP5</key>
			<string>083.Picture_3@2x.png</string>
			<key>CFrameP4</key>
			<string>{{0,104},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{0,133},{150,133}}</string>
		</dict>
		<dict>
			<key>CID</key>
			<string>4</string>
			<key>CName</key>
			<string>雅姿</string>
			<key>CDesc</key>
			<string>ARTISTRY 雅姿</string>
			<key>CImageP4</key>
			<string>081.Picture_1.png</string>
			<key>CImageP5</key>
			<string>081.Picture_1@2x.png</string>
			<key>CFrameP4</key>
			<string>{{150,104},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{150,133},{150,133}}</string>
		</dict>
		<dict>
			<key>CID</key>
			<string>5</string>
			<key>CName</key>
			<string>个人护理产品</string>
			<key>CDesc</key>
			<string>个人护理产品</string>
			<key>CImageP4</key>
			<string>084.Picture_4.png</string>
			<key>CImageP5</key>
			<string>084.Picture_4@2x.png</string>
			<key>CFrameP4</key>
			<string>{{0,208},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{0,266},{150,133}}</string>
		</dict>
		<dict>
			<key>CID</key>
			<string>6</string>
			<key>CName</key>
			<string>家居系列</string>
			<key>CDesc</key>
			<string>家居系列</string>
			<key>CImageP4</key>
			<string>080.Picture.png</string>
			<key>CImageP5</key>
			<string>080.Picture@2x.png</string>
			<key>CFrameP4</key>
			<string>{{150,208},{150,104}}</string>
			<key>CFrameP5</key>
			<string>{{150,266},{150,133}}</string>
		</dict>
	</array>
	<key>interval</key>
	<string>15</string>
	<key>AddressInterval</key>
	<string>24</string>
</dict>
</plist>
